/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Enlever les styles par défaut des listes */
ul,
ol {
  list-style: none;
}

/* Enlever les styles par défaut des boutons */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Enlever les styles par défaut des liens */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Couleurs principales */
  --bg-primary: #111827; /* Fond général (gris très sombre) */
  --bg-secondary: #1f2937; /* Fond des cartes/header (gris sombre) */
  --bg-tertiary: #374151; /* Fond des éléments interactifs (gris moyen) */

  /* Texte */
  --text-primary: #ffffff; /* Texte principal (blanc) */
  --text-secondary: #9ca3af; /* Texte secondaire (gris clair) */

  /* Couleurs d'accent */
  --accent-blue: #2563eb; /* Bleu des boutons actifs */
  --accent-blue-hover: #1d4ed8; /* Bleu hover */
  --accent-red: #dc2626; /* Rouge des promotions/réductions */
  --accent-green: #10b981; /* Vert des prix */
  --accent-yellow: #fbbf24; /* Jaune des étoiles */

  /* Bordures */
  --border-color: #4b5563; /* Couleur des bordures */
}

.title {
  color: var(--accent-blue);
}
header {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

body {
  background-color: var(--bg-primary);
}

.logoTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

button {
  color: var(--text-primary);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  gap: 20px;
}

button:hover {
  background-color: var(--bg-tertiary);
}

button.active {
  background-color: var(--accent-blue);
  color: var(--text-primary);
}

.container-promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.logoTitlePromo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--text-primary);
}

.card-grid-promotions {
  background: linear-gradient(135deg, var(--accent-red), #ea580c);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
h3 {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: bold;
}

h4 {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: bold;
}

p {
  color: var(--text-primary);
  font-size: 16px;
}
